.menuContainer{
    /* todo: this is duplicate, find a way to structure shared css in files*/
    border:1px solid white;
    width:20%;
    float:left;
    height:50%;
    display:block;
}

.menuContainer::after{
    clear:both;
}

.menuButton{
    width:100px;
    height:21px;
    /* todo: this is duplicate, find a way to structure shared css in files*/

    display:block;
}
