.menuContainer{
    /* todo: this is duplicate, find a way to structure shared css in files*/
    width:20%;
    float:left;
    height:50%;
    display:block;
    padding: 10px 0 0 20px;
}

.menuContainer::after{
    clear:both;
}

.menuButton{   
    color:white;
    background-color: var(--primary-dark);
    border:1px solid var(--primary);
    margin:10px 0;
}

.menuButton:active{
    border-color: var(--primary-dark);
}
