.uploadContainer{
    height:100px;
    border:1px solid white;
    padding:20px;
}

.uploadInput{
    width:50%;
    margin-right:20px;
}

.uploadButton{
    width:100px;
    height:21px;
}

/* TODO: Bunch of styling */