.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height:100vh;
  width:100vw;
}

.App-header{
  height:10vh;
  font-size:32px;
  padding-top:2vh;
}

.pageContent{
padding-left:20%;
padding-right:20%;
}

:root{
  --primary: #6c9ce6;
  --primary-dark: #546bb1;
  --complementary: #e6b56c;
}

.buttonBase{
  width:100px;
  height:30px;
  display:block;
  outline:none;
  border-radius:5px;
  cursor:pointer;
}