.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height:100vh;
  padding-left:20%;
  padding-right:20%;
}

.App-header{
  height:10vh;
  font-size:32px;
  padding-top:2vh;
}

